<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>

  </head>
  <body>
    <div class="container">
        <br><br><br><h2><center>QR Code Generator</center></h2>
        <div class="input-group mb-3">
            <form method="post">{% csrf_token %}
            <input type="text" name="name" class="form-control" placeholder="Qr code name ">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Make QR codes</button>
            </form>
        </div>

        {% for qr in qrs %}
        <div class="card mb-3" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md-4">
                  <img style="width: 300px;" src="{{qr.qr_code.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{qr.name}}</h5>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
